.pa-wrapper {
	display: block;
	position: absolute;
	top: 0;
	right: -120px;
	width: 100px;
	z-index: 9999;
}
.pa-wrapper > .btn {
	display: block;
	margin-bottom: 10px;
	padding: 10px 15px;
	width: 100%;
	border: none;
	border-radius: 4px;
	background-color: rgba(200, 200, 200, .5);
	color: #333;
	text-transform: uppercase;
	transition-duration: .1s;
}

.pa-wrapper .btn:hover {
	background-color: rgba(200, 200, 200, 1);
}